@charset "UTF-8"

#app
    font-family: Avenir, Helvetica, Arial, sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center

$gray: #767676
$gray-clear: #eaeaea
$font-color-clear: white
$red: #e00000

// Geral
.hidden
    display: none !important

.mt20
    margin-top: 20px !important

.mb20
    margin-bottom: 20px !important

.lista
    max-height: 450px
    margin-top: 20px

// Topbar + Corpo do App

.nav-item > a
    cursor: pointer

.topbar-right
    justify-content: right

.app-center
    display: flex
    justify-content: center
    padding-top: 20px
    padding-bottom: 20px

// Lista URL

.list-group-item
    border-radius: 10px !important

.btn-list
    margin-top: 10px

// Formulários

.form-body
    border-radius: 10px
    background-color: $gray-clear
    padding: 20px

.form-control
    margin-top: 20px

// Alertas

.alert
    margin-top: 20px
    margin-bottom: 0px !important
    opacity: 0.8

.alert:hover
    opacity: 1

.alert-box
    right: 20px
    position: absolute !important
    width: 300px

.erro
    color: $red
